# Environment Config
# DO NOT INCLUDE ANY SPACES BETWEEN THE = SIGNS OR ANYWHERE ELSE

# Your Printful API private token (Developer Portal → Your tokens)
PRINTFUL_SECRET=
# Required only for Account-level API tokens: your Printful store ID
PRINTFUL_STORE_ID=
# Your PayPal client id and secret should go here
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
