$primary: rgb(143, 33, 106);
$pinkish: desaturate(lighten($primary, 50%), 30%);

$theme-colors: (
  "primary": $primary,
  "pinkish": $pinkish
);

@import '~bootstrap/scss/bootstrap.scss';

figure {
  text-align: center;
  width: 100%;
  background: theme-color-level(primary, -12);
  margin: 0px !important;
  padding: 1rem;
  border: 1px solid theme-color-level(primary, -11);
  border-radius: 4px;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.store-figure:hover {
  box-shadow: 0px 4px 20px theme-color-level(pinkish, -6);
}

#confetti-holder {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

.container {
  padding-bottom: 20px;
}

.alert {
  position: sticky;
  top: 0;
  z-index: 1071;
}

.btn-remove {
  padding: .1rem .5rem;
  font-size: .8rem;
  line-height: 1.5;
  border-radius: .2rem;
}
